.profile-dashboard-container {
    background: #fff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.header p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #777;
}

.profile-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-picture-container {
    margin-right: 20px;
    text-align: center;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ff6f61
}

.update-picture-btn {
    margin-top: 10px;
    width: 55%;
}

.profile-details {
    flex-grow: 1;
}

.profile-details p {
    margin: 5px 0;
    font-size: 16px;
    color: #555;
}

.action-buttons {
    text-align: center;
    margin-top: 20px;
}

.action-btn {
    margin: 5px;
    width: 150px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.action-btn:hover {
    background-color: #ff4f41;
}

/* Modal Styles */
.modal-header {
    background-color: #ff6f61;
    color: #fff;
}

.modal-header .close {
    color: #fff;
}

.modal-title {
    font-size: 18px;
}

.modal-body {
    padding: 20px;
}

.form-group label {
    font-weight: bold;
}

.form-control {
    border-radius: 4px;
}

.btn-primary {
    background-color: #ff6f61;
    border-color: #333;
}

.btn-primary:hover {
    background-color: #ff6f61;
    border-color: #ff6f61;
}

.text-danger {
    color: #dc3545;
}

/* Admin Header Styles */
.admin-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.admin-header-right {
    display: flex;
    align-items: center;
}

.admin-profile-dropdown {
    position: relative;
    display: flex;
    align-items: center;
}

.admin-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dropdown-menu a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
}

.dropdown-menu a:hover {
    background-color: #f0f0f0;
}

.admin-profile-dropdown:hover .dropdown-menu {
    display: block;
}
